.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.first-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding: 10px;
    gap: 10px;
    margin: 0 10px;
}

.second-section-container {
    width: 60%;
}

.first-section-header{
    font-family: 'Passion One', cursive;
    font-weight: 400;
    color: #111111;
    text-align: left;
    font-size: 1.2em;
}

.button-check {
    background-color: #00A175;
    border-radius: 100px;
    color: white;
    font-weight: 400;
    font-family: 'Passion One', cursive;
    padding: 8px 20px;
    font-size: 1em;
    border: none;
}

.button-coming-soon {
    background-color: #E59CBD;
    border-radius: 100px;
    color: white;
    font-weight: 400;
    font-family: 'Passion One', cursive;
    padding: 8px 20px;
    font-size: 0.8em;
    border: none;
    cursor: not-allowed;
}
