.hero-section-wrapper {
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5vh 0;
}

.sub-header {
    font-weight: 400;
    font-size: 5vmin;
    line-height: 3vmax;
    font-family: 'Passion One', cursive;
    margin: 10px;
}

.main-header {
    font-weight: 400;
    font-size: 6vmin;
    line-height: 3vmax;
    font-family: 'Passion One', cursive;
    margin: 10px;
}
