.sub-header {
    font-weight: 700;
    font-size: 4vmin;
    line-height: 3vmax;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 10px;
}

.main-header {
    font-weight: 700;
    font-size: 5vmin;
    line-height: 3vmax;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 10px;
}