.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.first-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding: 10px;
    gap: 10px;
}

.second-section-container {
    width: 60%;
}

.first-section-header{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
}

.button-check {
    background-color: #00A175;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding: 8px 20px;
    font-size: 3vmin;
}