.swiper {
    width: 90vw;
    padding-bottom: 5vh;
}

.swiper-card {
    height: 30vh;
    background: #FDFAFB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    overflow: hidden;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    opacity: 0.8;
    background: #00A175;
    border: 1px solid #00A175;
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #E59CBD;
    border: 1px solid #E59CBD;
  }
  